server:
  port: 7233
  host: "0.0.0.0"
metrics:
  port: 9090
encryption:
  caching:
    max_cache: 100
    max_age: "10m"
    max_usage: 100
targets:
  - source: "<namespace>.<account>.internal"
    target: "<namespace>.<account>.tmprl.cloud:7233"
    tls:
      cert_file: "/path/to/<namespace>.<account>/tls.crt"
      key_file: "/path/to/<namespace>.<account>/tls.key"
    encryption_key: "<key>"
    namespace: "<namespace>.<account>"
    authentication:
      type: "spiffe"
      config:
        trust_domain: "spiffe://example.org/"
        endpoint: "unix:///tmp/spire-agent/public/api.sock"
        audiences:
          - "temporal_cloud_proxy"

  - source: "<namespace>.<account>.internal"
    target: "<namespace>.<account>.tmprl.cloud:7233"
    tls:
      cert_file: "/path/to/<namespace>.<account>/tls.crt"
      key_file: "/path/to/<namespace>.<account>/tls.key"
    encryption_key: "<key>"
    namespace: "<namespace>.<account>"
    authentication:
      type: "spiffe"
      config:
        trust_domain: "spiffe://example.org/"
        endpoint: "unix:///tmp/spire-agent/public/api.sock"
        audiences:
          - "temporal_cloud_proxy"
